.form-header {
    margin-bottom: 100px;
}

.form-title {
    /* font-family: 'Poppins'; */
    font-size: 22px;
    font-weight: 600;
    color: #292828;
    text-align: center;
}

.form-container {
    width: 95%;
    height: 80vh;
    background-color: rgba(224, 224, 224, 0.4);
    margin-left: auto;
    margin-top: 40px;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.form-container::-webkit-scrollbar {
    display: none;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    /* -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
    /* margin-bottom: 10px; */
}


.rowbig {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    /* -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
    /* margin-bottom: 10px; */
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.col-2 {
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.col-max {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

/* input[type="date" i] {
    padding: 4px;
} */

input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 18px;
    font-family: inherit;
}

.input--style-4 {
    line-height: 60px;
    background: #e6e6e6;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #666;
}

.input--style-4:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
    opacity: 1;
}

.input--style-4::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
    opacity: 1;
}

.input--style-4:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666;
}

.input--style-4:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #666;
}

.label {
    font-size: 18px;
    color: #555;
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

@media (max-width: 767px) {
    .col-2 {
        width: 100%;
    }
}

.input-group {
    position: relative;
    margin-bottom: 22px;
}

.select-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.input-group-icon {
    position: relative;
}

.input-icon {
    position: absolute;
    font-size: 18px;
    color: #999;
    right: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.row select {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: 60px;
    font-size: 14px;
    font-family: 'Poppins';
    line-height: 1.5;
    background: #e6e6e6;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}

.form-group {
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

.form-group .option-group {
    margin-top: 15px;

}

.select-group {
    display: flex;
    justify-content: space-between;
}

.select-group label {
    font-family: 'Poppins';
}

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px rgb(10, 10, 58) solid;
    transition: all 0.5s ease-in-out;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: rgb(10, 10, 58);
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-save {
    border: none;
    color: #fff;
    background-color: rgb(10, 10, 58);
    font-size: 20px;
    padding: 18px 30px 18px 30px;
    border-radius: 4px;
    outline: none;
    width: 100%;
    font-weight: 800;
    cursor: pointer;
    text-indent: 5px;
    font-family: 'poppins';
}